*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #80c0eb, #c785e0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    position: relative;
    height: 5rem;

    .search{
        background-color: transparent;
        border: 0;
        transition: 0.8s ease-in-out;
        height: 3rem;
        width: 3rem;
        padding: .5rem;
        font-size: 1rem;
        border-radius: .2rem;
    }

    button{
        border: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 3rem;
        width: 3rem;
        transition: 0.8s ease-in-out;
        outline: none;
        border-radius: .2rem;
        background-color: white;

        &.active{
            margin-left: 0.5rem;
        }
    }

    .fa-times{
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%);

        &.active{
            opacity: 1;
        }
    }

    .fa-search{
        opacity: 1;

        &.active{
            opacity: 0;
        }
    }

    &.active{
        .search{
            width: 20rem;
        }

        button{
            transform: translate(20rem);
            background-color: #b57bcc;
        }
    }
}
